parameters:
  level: 6
  phpVersion:
    min: 70400 # PHP 7.4
    max: 80599 # PHP 8.5
  tips:
    treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#Access to undefined constant MongoDB\\Driver\\ReadPreference\:\:RP_.*#'
    - '#Call to an undefined method MongoDB\\Driver\\ReadPreference\:\:getMode\(\)#'
    - identifier: missingType.iterableValue
      reportUnmatched: false
  paths:
    - src
    - test
