parameters:
  level: 6
  phpVersion:
    min: 70400 # PHP 7.4
    max: 80599 # PHP 8.5
  bootstrapFiles:
    - src/resque/compat.inc.php
  tips:
    treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.iterableValue
      reportUnmatched: false
  paths:
    - src
    - test
  excludePaths:
    - src/resque/compat.inc.php
    - test/unit/mongo/mocks
